.diary-detail-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.diary-detail-container > p {
  width: 42.1875rem;
  font-size: 2rem;
  font-weight: 700;
}

.diary-detail-etc {
  width: 42.1875rem;
  display: flex;
  justify-content: space-between;
}

.diary-detail-etc span {
  font-size: 1.5rem;
  color: #aeaeae;
}

.etc-img-wrapper {
  display: flex;
  gap: 1.56rem;
}

.etc-img-wrapper img {
  cursor: pointer;
}

.diary-detail-content-container {
  margin-top: 1.31rem;
  margin-bottom: 10rem;
  position: relative;
}

.diary-detail-background {
  position: absolute;
  width: 42.1875rem;
  height: 28.9375rem;
}

.diary-detail-content-wrapper {
  position: relative;
  width: 42.1875rem;
  height: 28.9375rem;
  overflow-y: auto;
}

/* .diary-detail-content-wrapper::-webkit-scrollbar {
  display: none;
} */

.diary-detail-content-wrapper::-webkit-scrollbar {
  width: 0.5rem;
}

/* 스크롤바의 트랙 (배경 부분) */

.diary-detail-content-wrapper::-webkit-scrollbar-track {
  background: #e0e0e0;
  border-radius: 0.625rem;
}

.diary-detail-content-wrapper::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.625rem;
}

.diray-detail-img {
  position: absolute;
  width: 38.5rem;
  height: 14.375rem;
  top: 1.56rem;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  gap: 0.69rem;
}

.diray-detail-img img {
  width: 100%;
  height: 14.375rem;
  border-radius: 0.625rem;
  object-fit: contain;
}

.diary-detail-content {
  position: absolute;
  top: 17rem;
  left: 2.94rem;
}

.diary-detail-content p {
  font-size: 1.5rem;
}

.diary-delete-wrapper {
  display: none;
  text-align: center;
  margin-top: 1.85rem;
}

.diary-delete-wrapper p {
  font-size: 1.5rem;
}

.diary-delete-img-wrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.diary-delete-img-wrapper img {
  cursor: pointer;
}
