@font-face {
  font-family: "Pretendard-Medium";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
}

html,
body {
  height: 100%;
}

.mypage-frame {
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.mypage-frame2 {
  width: 920px;
}

/* 나의 만다라트 */

.my-mdat {
  height: 505px;
}

.my-mdat-header {
  height: 65px;
  display: flex;
}

.my-mdat-name {
  font-size: 28px;
  padding-top: 10px;
  margin-left: 40px;
  font-family: "Pretendard-Bold";
}

.my-mdat-nav {
  margin-left: auto;
  margin-right: 45px;
}

.my-mdat-nav img {
  padding-top: 14px;
  cursor: pointer;
}

.my-mdat-nav img:nth-child(1) {
  margin-right: 15px;
}

.my-mdat-main {
  height: 415px;
  display: flex;
  justify-content: space-between;
}

.mdat-content {
  width: 840px;
  display: flex;
  justify-content: space-between;
}

.mdat-prev-btn,
.mdat-next-btn {
  padding-top: 198px;
}

.mdat-prev-btn img,
.mdat-next-btn img,
.my-badge-nav img,
.my-title-nav img {
  cursor: pointer;
}

.mdat-item {
  width: 400px;
  height: 440px;
  background-color: #f1f1f1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.mdat-item-top {
  width: 245px;
  height: 245px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  text-align: center;
}

.mdat-item-top .mdat-big-goal:nth-child(5) {
  background-color: black;
}

.mdat-big-goal {
  background-color: #aeaeae;
  height: 79px;
  width: 79px;
  border-radius: 10px;
}

.mdat-big-goal.completed {
  background-color: transparent;
}

.mdat-big-goal p {
  margin-top: 30px;
  padding-left: 5px;
  padding-right: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 15px;
  color: white;
}

.goal-cap {
  height: 79px;
  width: 79px;
}

.mdat-item-mid {
  display: flex;
  height: 80px;
  justify-content: center;
}

.mdat-item-mid p {
  font-size: 20px;
  padding-top: 10px;
  margin-right: 13px;
}

.mdat-item-mid img {
  margin-top: 35px;
}

.mdat-item-mid img {
  height: 15px;
  width: 15px;
  cursor: pointer;
}

.mdat-item-bottom {
  margin-top: 2px;
}

.select-btn {
  width: 160px;
  height: 45px;
  margin-right: 7px;
  cursor: pointer;
  font-family: "Pretendard-Medium";
  font-size: 18px;
  color: white;
  border: none;
  background-color: black;
  border-radius: 5px;
}

.create-btn {
  width: 160px;
  height: 45px;
  margin-right: 7px;
  cursor: pointer;
  font-family: "Pretendard-Medium";
  font-size: 18px;
  color: white;
  border: none;
  background-color: #ff452b;
  border-radius: 5px;
}

.del-btn {
  width: 160px;
  height: 45px;
  cursor: pointer;
  font-size: 18px;
  font-family: "Pretendard-Medium";
  color: white;
  border: none;
  background-color: #dedede;
  border-radius: 5px;
}

.cancel-btn {
  width: 160px;
  height: 45px;
  cursor: pointer;
  font-size: 18px;
  font-family: "Pretendard-Medium";
  color: white;
  border: none;
  background-color: #dedede;
  border-radius: 5px;
}

.div-line hr {
  height: 1px;
  border: 0;
  background-color: #aeaeae;
  margin-top: 52px;
  width: 840px;
}

/* 빈 만다라트 */
.mdat-title-input {
  height: 40px;
  margin-top: 23px;
  width: 100px;
  font-size: 20px;
  border: none;
  background-color: #f1f1f1;
  padding-left: 10px;
  padding-right: 10px;
}

/* 나의 배지 */

.my-badge-name {
  font-size: 28px;
  padding-top: 35px;
  margin-left: 40px;
  margin-right: 18px;
  font-family: "Pretendard-Bold";
}

.new-icon {
  width: 27px;
  height: 27px;
  margin-top: 39px;
  margin-right: 18px;
}

.new-ment {
  margin-top: 42px;
  margin-bottom: 0px;
  color: #ff452b;
  font-size: 18px;
}

.unlockable-num {
  color: #aeaeae;
  font-size: 18px;
  margin-top: 42px;
  margin-bottom: 0px;
  margin-left: 18px;
}

.my-badge-header {
  display: flex;
  margin-bottom: 30px;
}

.my-badge-nav {
  margin-left: auto;
  margin-right: 70px;
  padding-top: 40px;
}

.my-badge-nav img:nth-child(1) {
  margin-right: 40px;
}

.my-badge-main {
  display: flex;
  flex-wrap: wrap;
  width: 920px;
  padding-left: 160px;
  padding-right: 160px;
  height: 620px;
  margin-bottom: 30px;
}

.badge-item {
  margin-left: 30px;
  margin-right: 30px;
  height: 200;
}

.cap-badge {
  width: 140px;
}

.cap-img {
  width: 140px;
  height: 140px;
  object-fit: contain;
  margin-top: 10px;
  cursor: pointer;
}

.cap-title {
  width: 140px;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
}

/* 나의 칭호 */

.my-title {
  height: 330px;
  margin-bottom: 80px;
}

.my-title-header {
  display: flex;
  margin-bottom: 30px;
}

.my-title-name {
  font-size: 28px;
  padding-top: 35px;
  margin-left: 40px;
  margin-right: 18px;
  font-family: "Pretendard-Bold";
}

.my-title-nav {
  margin-left: auto;
  margin-right: 70px;
  padding-top: 40px;
}

.my-title-nav img:nth-child(1) {
  margin-right: 40px;
}

.my-title-main {
  margin-left: 100px;
  margin-right: 100px;
  height: 230px;
}

.title-item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  justify-content: center;
}

.title-item img {
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 15px 32px 15px 32px;
  margin-left: 15px;
  margin-right: 15px;
}

/* .title-item p {
  font-size: 2rem;
  font-family: "Pretendard-Bold";
  background-clip: text;
  background: linear-gradient(40deg, #f0ab36, #ff452b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
} */
