@import "nav.css";
@import "todo-list.css";
@import "mypage.css";
@import "home.css";
@import "goal-input.css";
@import "login.css";
@import "sign-up.css";
@import "reset-password.css";
@import "diary.css";
@import "diary-write.css";
@import "diary-detail.css";
@import "store.css";
@import "select-badge.css";

* {
  box-sizing: border-box;
  font-family: "Pretendard-Regular";
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Pretendard-Regular";
}
