@font-face {
  font-family: "Pretendard-Black";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff")
    format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Bold";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

/* html,
body {
  height: 100%;
} */

.todo-frame {
  display: flex;
  height: 640px;
  width: 100%;
  justify-content: center;
  padding-top: 50px;
  margin-bottom: 50px;
}

.todo-frame2 {
  display: flex;
}

.calendar {
  width: 550px;
  height: 580px;
  background-color: #f1f1f1;
  border-radius: 30px;
  padding: 40px 50px 0px 50px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.todo {
  width: 620px;
  height: 590px;
  margin-left: 55px;
}

/* 캘린더 */

.cal-header {
  display: flex;
  padding-bottom: 40px;
}

.month-year {
  font-size: 30px;
  font-family: "Pretendard-Black";
  color: #ff452b;
}

.cal-nav {
  padding-top: 8px;
  margin-left: auto;
}

.cal-nav img {
  cursor: pointer;
}

.cal-nav img:nth-child(1) {
  margin-right: 50px;
}

.cal-days {
  display: flex;
  margin-bottom: 17px;
  padding-left: 14px;
  padding-right: 20px;
  justify-content: space-between;
}

.cal-dates {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.date {
  width: 57px;
  height: 57px;
  border-radius: 50px;
  background-color: #f1f1f1;
  margin-bottom: 10px;
  text-align: center;
  align-content: center;
  font-size: 17px;
  color: #595959;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.day {
  font-size: 17px;
  color: #595959;
}

/* 투두 */

.todo-header {
  display: flex;
  height: 90px;
}

.todo-name {
  font-family: "Pretendard-Bold";
  font-size: 30px;
  padding-top: 45px;
}

.todo-icon {
  margin-left: auto;
}

.todo-icon img {
  margin-top: 55px;
  cursor: pointer;
}

.todo-icon img:nth-child(1) {
  margin-right: 30px;
}

.todo-icon img:nth-child(2) {
  margin-right: 20px;
}

.todo-mid {
  margin-top: 20px;
  overflow-y: scroll;
  overflow: auto;
  height: 405px;
}

.add-item {
  display: flex;
  height: 75px;
  width: 560px;
  align-items: center;
  border: 1px solid #aeaeae;
  border-radius: 10px;
  margin-left: 25px;
  margin-bottom: 25px;
  font-size: 22px;
}

.add-time {
  margin-left: 33px;
  height: 35px;
  color: #ff452b;
  font-size: 22px;
  border: none;
  width: 70px;
  font-family: "Pretendard-Regular";
  padding-left: 5px;
}

.add-time::placeholder {
  color: #ff452b;
  font-family: "Pretendard-Regular";
  font-size: 22px;
}

.add-cont {
  height: 35px;
  font-size: 22px;
  border: none;
  padding-top: 3px;
  margin-left: 15px;
  font-size: 22px;
  width: 330px;
}

.add-cont::placeholder {
  color: black;
  font-family: "Pretendard-Regular";
  font-size: 22px;
}

.add-btn {
  color: #aeaeae;
  height: 40px;
  margin-left: auto;
  padding-top: 5px;
  margin-right: 40px;
  cursor: pointer;
  font-size: 22px;
}

.list-item {
  display: flex;
  font-size: 24px;
  height: 53px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 25px;
}

.todo-check {
  margin-top: 9px;
  margin-right: 30px;
  margin-left: 7px;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.todo-time {
  padding-top: 6px;
  margin-right: 25px;
  color: #ff452b;
  padding-top: 8px;
  font-size: 22px;
  padding-left: 5px;
  width: 60px;
}

.todo-cont {
  padding-top: 7.5px;
  font-size: 22px;
}

.todo-del {
  margin-left: auto;
  margin-right: 20px;
  margin-top: 8px;
  cursor: pointer;
  width: 29px;
  height: 29px;
}
